<!DOCTYPE html>
<html lang="en">
    
<head>
  <meta charset="UTF-8">
  <title>Mushroom Classification Project</title>
</head>
<nav>
  <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="characteristics.html">Mushroom Characteristics Information</a></li>
      <li><a href="charts.html">Mushroom Statistics</a></li>
      <li><a href="model.html">Let's predict mushrooms!</a></li>

    </ul>
  </nav>
<h1> About the Mushroom Classification Project </h1>
<body>
  <section>
    <h3> My inspiration for this project was from a trip to Italy. 
        I was hiking in the Piane delle Mele mountains of Abruzzo when I noticed people foraging for mushrooms. 
        I thought to myself how do they know which is safe to eat and which are poisonous? 
        After doing a bit of research, foraging for mushrooms is quite a popular hobby and is colloquially known as "shrooming".
        I found this mushroom dataset and thought I would test and train it and see if I could build a model and an app for users to input
        characteristics they find on a mushroom and to help them determine if it was edible or poisonous.
    </h3>
    
  </section>
</body>
<article>
    <a target="_blank" href="../static/images/about_background.jpg">
      <img src="../static/images/about_background.jpg" alt="about_background">
    </a>
    
    </article>
</html>
