<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Charts of Mushroom Characteristics and how they compare to being Edible or Poisonous with Conclusions</title>
  <nav>
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About the Project</a></li>
        <li><a href="characteristics.html">Mushroom Characteristics</a></li>
        <li><a href="model.html">Let's predict mushrooms!</a></li>
  
      </ul>
    </nav>
</head>
<h1>Charts of Mushroom Characteristics and how they compare to being Edible or Poisonous with conclusions</h1>
<p>(Legend at bottom of page)</p>
<body>
  <section>
    <h2>Edible vs Poisonous Mushrooms in dataset</h2>
    <article>
    <a target="_blank" href="../static/images/e vs p.png">
      <img src="../static/images/e vs p.png" alt="E vs P">
      
    </a>
    <p>It is split approximately 50:50 of edible and poisonous mushrooms in the dataset</p>
        </article>
<hr>
<h2>Cap Shapes</h2>
    <article>
    <a target="_blank" href="../static/images/cap shape.png">
      <img src="../static/images/cap shape.png" alt="Cap Shapes">
    </a>
    <p>Mushrooms with Sunken and Conical cap shapes are always edible</p>
        </article>


    <hr>
    <h2>Cap Colour</h2>
    <article>
    <a target="_blank" href="../static/images/cap color.png">
      <img src="../static/images/cap color.png" alt="Cap Color">
    </a>
    <p>Mushrooms with Purple and Green caps are always edible</p>
    </article>
    <hr>

    <h2>Odor</h2>
    <article>
    <a target="_blank" href="../static/images/odor.png">
      <img src="../static/images/odor.png" alt="Odor">
    </a>
    <p>Mushrooms with Foul, Fishy, Spicy, Pungent, Creosote and Musty odors are always poisonous.
    Mushrooms with Anise and Almond odors are always edible.
    </p>
    </article>
    <hr>
    <h4>Legend for Charts</h4>
    <p>
            cap-shape: bell=b, conical=c, convex=x, flat=f, knobbed=k, sunken=s <br>
            cap-surface: fibrous=f, grooves=g, scaly=y, smooth=s<br>
            cap-color: brown=n, buff=b, cinnamon=c, gray=g, green=r, pink=p, purple=u, red=e, white=w, yellow=y<br>
            bruises: bruises=t, no=f<br>
            odor: almond=a, anise=l, creosote=c, fishy=y, foul=f, musty=m, none=n, pungent=p, spicy=s<br>
            gill-attachment: attached=a, descending=d, free=f, notched=n<br>
            gill-spacing: close=c, crowded=w, distant=d<br>
            gill-size: broad=b, narrow=n<br>
            gill-color: black=k, brown=n, buff=b, chocolate=h, gray=g, green=r, orange=o, pink=p, purple=u, red=e, white=w, yellow=y<br>
            stalk-shape: enlarging=e, tapering=t<br>
            stalk-root: bulbous=b, club=c, cup=u, equal=e, rhizomorphs=z, rooted=r, missing=?<br>
            stalk-surface-above-ring: fibrous=f, scaly=y, silky=k, smooth=s<br>
            stalk-surface-below-ring: fibrous=f, scaly=y, silky=k, smooth=s<br>
            stalk-color-above-ring: brown=n, buff=b, cinnamon=c, gray=g, orange=o, pink=p, red=e, white=w, yellow=y<br>
            stalk-color-below-ring: brown=n, buff=b, cinnamon=c, gray=g, orange=o, pink=p, red=e, white=w, yellow=y<br>
            veil-type: partial=p, universal=u<br>
            veil-color: brown=n, orange=o, white=w, yellow=y<br>
            ring-number: none=n, one=o, two=t<br>
            ring-type: cobwebby=c, evanescent=e, flaring=f, large=l, none=n, pendant=p, sheathing=s, zone=z<br>
            spore-print-color: black=k, brown=n, buff=b, chocolate=h, green=r, orange=o, purple=u, white=w, yellow=y<br>
            population: abundant=a, clustered=c, numerous=n, scattered=s, several=v, solitary=y<br>
            habitat: grasses=g, leaves=l, meadows=m, paths=p, urban=u, waste=w, woods=d<br>
    </p>














   
  </section>
</body>

</html>
