<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Descriptions of Mushroom Characteristics</title>
  <nav>
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About the Project</a></li>
        <li><a href="charts.html">Mushroom Statistics</a></li>
        <li><a href="model.html">Let's predict mushrooms!</a></li>
  
      </ul>
    </nav>
</head>
<h1>Descriptions of Mushroom Characteristics</h1>
<body>
  <section>
    <h2>Cap Shapes</h2>
    <article>
    <a target="_blank" href="../static/images/cap_shapes.jpg">
      <img src="../static/images/cap_shapes.jpg" alt="Cap Shapes">
    </a>
    
    </article>
    <hr>
    <h2>Cap Surfaces</h2>
    <article>
    <a target="_blank" href="../static/images/cap_surfaces.jpg">
      <img src="../static/images/cap_surfaces.jpg" alt="Cap Surfaces">
    </a>
    
    </article>
    <hr>
    <h2>Gill Attachments</h2>
    <article>
    <a target="_blank" href="../static/images/gill_attachments.png">
      <img src="../static/images/gill_attachments.png" alt="Gill Attachments">
    </a>
    
    </article>
    <hr>
    <h2>Gill Spacing</h2>
    <article>
    <a target="_blank" href="../static/images/gill_spacing.jpg">
      <img src="../static/images/gill_spacing.jpg" alt="Gill Spacing">
    </a>
    
    </article>
    <hr>
    <h2>Veil Types</h2>
    <article>
    <a target="_blank" href="../static/images/mushroom_veils.png">
      <img src="../static/images/mushroom_veils.png" alt="Veil Types" style="width:700px;height:auto;">
    </a>
  
    </article>
    <hr>
    <h2>Ring Types</h2>
    <article>
    <a target="_blank" href="../static/images/ring_types.jpg">
      <img src="../static/images/ring_types.jpg" alt="Ring Types" img>
    </a>
    </article>
    <hr>


















   
  </section>
</body>

</html>
